<?xml version="1.0"?>
<fas>
  <area host="http://192.168.0.199:999/"
        key="users"
        siteId="users"
        title="KISS权限组件"
        combinCss="false" combinJs="false" jsVersion="1" cssVersion="1"
        support_multi_site="true"
        define_localdatabase.js="js/mobilejs/localdatabase.js"/>

  <plugins>
    <plugin name="LogInitializer"/>
    <plugin name="RepositoryInitializer"
            type1="Kiss.Linq.Sql.Repository`1, Kiss.Linq"
            type2="Kiss.Linq.Sql.Repository`2, Kiss.Linq">
      <conns default="conn">
      </conns>
    </plugin>
    <plugin name="OptimizationInitializer" enable="false" />
  </plugins>
  <databases>
    <homework provider="" link="" package="" query="" />
  </databases>

  <connectionStrings>
    <clear/>
    <add name="conn" providerName="System.Data.Mysql" connectionString="Server=112.29.172.162;Database=zhxxpt1;Uid=root;Pwd=root;Convert Zero Datetime=True" />
    <add name="conn1" providerName="System.Data.SqlClient" connectionString="Password=1qaz!@#$.140;Persist Security Info=True;User ID=sa;Initial Catalog=zhxxpt_new2;Data Source=112.29.172.140" />
    <add name="conn3" providerName="System.Data.Sqlite" connectionString="Data Source=C:\Users\cofd_000\Downloads\db.db3;Version=3;New=True;" />
    <add name="oracle" providerName="System.Data.Oracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.222)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=qhdd)));User Id=system;Password=Jc123456;" />
  </connectionStrings>

  <redis host="112.29.172.162" port="6379" password="foobared" conn="foobared@112.29.172.162:6379" ReadWriteHosts="foobared@112.29.172.162:6379" ReadOnlyHosts="foobared@112.29.172.162:6379" MaxWritePoolSize="60" MaxReadPoolSize="60" AutoStart="true" LocalCacheTime="180" RecordeLog="false"/>
</fas>